
.header {
    max-width: 100%;
    padding: 15px;
    margin: 0px auto;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.header li {
    float: left;
}

.header li a {
    display: block;
    padding: 20px;
    color: #fff;
    text-decoration: none;      
}

.header li a:hover,
.header .menu-btn:hover {
    background-color: #2d2e2d;
    border-radius: 8px;
}

.spin {
    animation-name: spin-animation; /* Refers to the name of your @keyframes element below */
    animation-duration: 4s; /* Change to speed up or slow down */
    animation-iteration-count: infinite; /* Never stop waving :) */
    transform-origin: center; /* Pivot around the bottom-left palm */
    display: inline-block;
}

@keyframes spin-animation {
    0% {
        transform: rotate(360.0deg)
    }
}


.head {
    margin-left: 40px;
    margin-right: 40px;
}

.intro {
    font-size: xx-large;
}

.hello {
    font-size: 80px;
}

.socialbut {
    width: 12vh;
    height: 4vh;
    cursor: pointer;
    border-radius: 6px;
    border: 3px solid grey;
    margin-right: 1vh;
    padding-bottom: 5px;
}

.grad {
    background-image: linear-gradient(to right, rgb(64,93,230),rgb(88,81,219),rgb(131,58,180),rgb(193,53,132),rgb(225,48,108),rgb(253,29,29),rgb(245,96,64),rgb(247,119,55),rgb(252,175,69),rgb(255,220,128));
}

.ucf {
    background-image: linear-gradient(to right, rgb(0,0,0),rgb(204,164,61));
    border: 2px solid rgb(204,164,61) !important;
    border-radius: 5px;
    box-shadow: 10px 5px 5px black;
    margin-top: 15px;
    width: 125vh;
    float: left
}

.ucfACM {
    background-image: linear-gradient(to right, rgb(0,0,0),rgb(204,164,61));
    border: 2px solid rgb(204,164,61) !important;
    border-radius: 5px;
    box-shadow: 10px 5px 5px black;
    margin-top: 15px;
    width: 110vh;
    float: left
}


.magicmed {
    background-image: linear-gradient(to right, #1e3f66, #8c2f39 );
    border: 2px solid #1e3f66 !important;
    border-radius: 5px;
    box-shadow: 10px 5px 5px black;
    margin-top: 15px;
    width: 110vh;
    float: left
}

.onlysocks {
    background-image: linear-gradient(to right, #323846, #c66156 );
    border: 2px solid #c66156 !important;
    border-radius: 5px;
    box-shadow: 10px 5px 5px black;
    margin-top: 15px;
    width: 70vh;
    margin-left: 5vh;
    float: left
}

.teamlead {
    background-color: #8c2f39;
    border: 2px solid #c66156 !important;
    border-radius: 5px;
    box-shadow: 10px 5px 5px black;
    margin-top: 15px;
    width: 70vh;
    margin-left: 5vh;
    float: left
}

.contactmanager {
    background-image: linear-gradient(to right, rgb(59, 184, 130), rgb(34, 25, 77) );
    border: 2px solid #1e3f66 !important;
    border-radius: 5px;
    box-shadow: 10px 5px 5px black;
    margin-top: 15px;
    width: 100%;
    float: left
}


.theraplan {
    border: 2px solid #35baf2 !important;
    border-radius: 5px;
    background-color: #35baf2 !important;
    box-shadow: 10px 5px 5px black;
    margin-top: 15px;
}



.skills {
    background-color: #78A2CC;
    border: 2px solid #78A2CC !important;
    border-radius: 5px;
    box-shadow: 10px 5px 5px black;
    margin-top: 15px;
    width: 82vh;
    float:left
}

.skillsmark {
    background-color: #b19cd9;
    border: 2px solid #b19cd9 !important;
    border-radius: 5px;
    box-shadow: 10px 5px 5px black;
    margin-top: 15px;
    width: 80vh;
    float: left
}

.caption {
    margin-top: 5px;
    margin-left: 160px
}

.iconcap {
    margin-left: 20px;
    margin-top: 0px
}

.iconcapsm {
    margin-left: 20px;
    margin-top: 0px
}

.skillshead {  
  width: 80vh;

}

.skillslang {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.center {
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 2vh
}

.intro {
    float: left;
    width: 95vh;
}


/* CSS for Mobile*/
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .header {
        font-size: 45px;
        font-weight: bold;
    }
    .header li {
        float: none;
    }
    .header li a {
        padding: 10px;
    }
    .hello {
        font-size: 65px;
    }
    .intro {
      width: 100%;
       
    }
}
