
    /*Header menu styles*/
    .header {
        max-width: 100%;
        padding: 15px;
        margin: 0px auto;
    }

    .header ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
    }

    .header li a {
        display: block;
        padding: 20px;
        color: #fff;
        text-decoration: none;
        
    }

    .header li a:hover,
    .header .menu-btn:hover {
        background-color: #2d2e2d;
        border-radius: 8px;
    }


    @media (min-width: 48em) {
        .header li {
            float: left;
        }

        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .header .menu {
            max-height: none;
        }

        .header .menu-icon {
            display: none;
        }
    }

    @media (max-width: 960px) and (min-width: 768px) {
        .header {
            font-size: 12px;
        }
    }

    .spin {
        animation-name: spin-animation; /* Refers to the name of your @keyframes element below */
        animation-duration: 4s; /* Change to speed up or slow down */
        animation-iteration-count: infinite; /* Never stop waving :) */
        transform-origin: center; /* Pivot around the bottom-left palm */
        display: inline-block;
    }

    @keyframes spin-animation {
        0% {
            transform: rotate(360.0deg)
        }
    }


    .head {
        margin-left: 40px;
        width: 90vh;
    }

    .intro {
        font-size: xx-large;
    }

    .hello {
        font-size: 80px;
    }

    .socialbut {
        width: 10vh;
        height: 4vh;
        cursor: pointer;
        border-radius: 6px;
        border:none;
        margin-right: 1vh;
    }


