
.AppPage {
    background-color: #566E57;
    display: flex;
    padding-left: 15px;
    font-size: calc(10px + 1vmin);
    color: white;
    width: fit-content;
}

html {
    scroll-behavior: smooth;
}



